/* write your override styles here */
#wall .tag-1{
  display: none;
}

body #wall #tag-2{
  display: none;
  /* z-index: -1; */
}

body #wall #tag-3.slick.wicked{
  display: none;
}



body #wall .parent #tag-5{
    display: none ; 
}

body #wall .parent #tag-4{
    display: none;
}

body #wall > div {
  display: none;
}

body #wall div > #tag-7{
  display: none;
}