/* write your override styles here */
#wall .tag-1{
  display: none;
}

body #wall #tag-2{
  display: none;
  /* z-index: -1; */
}

body #wall #tag-3.slick.wicked{
  display: none;
}



#wall .parent {
    display: none ; 
}

.parent #tag-4{
    display: none;
}
